---

---
<nav class="w-full bg-(--c1) border-b border-(--c2)  py-3">
  <div class="max-w-6xl px-5 flex items-center">
    <span class="text-xl font-semibold text-slate-800 dark:text-white">
      SGPA to Percentage Converter
    </span>
  </div>
</nav>