---
import AstroGpaCalculator from "../components/AstroGpaCalculator";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="w-full
      max-w-[580px]
      mx-auto
      
      md:p-2
      md:border md:border-(--c3)/30
      md:bg-(--c2)
      md:shadow-2xl
      md:rounded-2xl
      md:backdrop-blur-sm
      
      transition-all duration-300"
  >
    <AstroGpaCalculator client:load />
  </div>
</Layout>
